*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet: rgb(66, 0, 110);
    --dark-violet: rgb(36, 0, 59);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(var(--dark-violet) 50%,rgb(5, 0, 29));
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.Head-text{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* 1-ый блок Promo */

.Promo {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Promo .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Promo__product-name {
    grid-column: 1/3;
    margin-bottom: 100px;
}

.Product-photo {
    border-radius: 50%;
    width: 400px;
    border: 5px solid var(--violet);
    height: 400px;
    background: black url(./materials/imgs/prod.png) no-repeat center center;
    background-size: 50%;
}

.Promo__product-description {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.Promo__product-description ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Promo__media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--dark-violet) url(./materials/imgs/bg-img.jpg) no-repeat center center;  
    background-size: cover;
    z-index: -1;
}

.Promo__media::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.Promo__bg-video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Promo__order-button{
    padding-left: 20px;
    grid-column: 2/3;
    margin-top: 100px;
}

.Order-button button{
    width: 300px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid var(--violet);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    transition: .3s;
}

.Order-button button:hover{
    border-color: white;
    transform: scale(.98);
}

/* 2-ой блок Compound */

.Compound {
    height: 850px;
    border-top:5px solid var(--violet);
}

.Compound .container {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto 1fr 1fr 1fr;
    row-gap: 50px;
}

.Compound__head-text{
    grid-column: 1/4;
    padding: 60px 0 20px 0;
}

.Compound__ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    text-align: center;
}

.Compound__ingredient img{
    max-width: 100px;
}

.Compound__ingredient:nth-of-type(2) img{
    max-width: 70px;
}

.Compound__ingredient:nth-of-type(5) img{
    max-width: 50px;
}

.Compound__ingredient:nth-of-type(6) img{
    max-width: 60px;
}

.Compound__ingredient span{
    background-color: white;
    border-radius: 100%;
    width: 130px;
    height: 130px;  
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 15px;
}

.Compound__product {
    grid-row: 2/5;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Compound__product-photo{
    width: 300px;
    height: 300px;
    border: 2px white solid;
}

.Compound__order-button{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 3-й блок Comments */

.Comments{
    height: 700px;
}

.Comments__head-text{
    margin: 50px 0 100px 0;
}

.Carousel{
    display: flex;
    justify-content: center;
}

.Carousel__user-photo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px white solid;
}

.icon-cards__item:nth-child(1) .Carousel__user-photo{
    background: url(./materials/imgs/user1.jpg) no-repeat center;
    background-size: cover;
}

.icon-cards__item:nth-child(2) .Carousel__user-photo{
    background: url(./materials/imgs/user2.jpg) no-repeat center;
    background-size: cover;
}

.icon-cards__item:nth-child(3) .Carousel__user-photo{
    background: url(./materials/imgs/user3.jpg) no-repeat center;
    background-size: cover;
}

.icon-cards__item span{
    display: flex;
    align-items: center;
    width: 100%;
}

.Carousel__user-rate img{
    width: 200px;
    margin-left: 10%;
}

.Carousel__user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 20px 0;
}

.Carousel__user-comment {
    line-height: 1.5;
}
 
/* Карусель */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 350px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}
.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 350px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 50px;
    transform-origin: center;
    background-color: white;
    padding: 5%;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(35vw);
}
@keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
   }
    27.5%, 45% {
        transform: translateZ(-35vw) rotateY(-120deg);
   }
    55%, 72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
   }
    82.5%, 100% {
        transform: translateZ(-35vw) rotateY(-360deg);
   }
}

/* 4-ый блок Promo2 */

.Promo2{
    padding-bottom: 100px;
}

.Promo2 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
}

.Promo2__head-text {
    grid-column: 1/3;
    margin-bottom:100px ;
}

.Promo2__description {
    color: white;
    font-size: 24px;
    padding-left: 10%;
    line-height: 2;
}

.Promo2__image img{
    max-width: 100%;
}

.Promo2__characteristics, .Promo2__order-button {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.Promo2__characteristics ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* 5-ый блок Form */

.Form{
    padding-bottom: 100px;
}

.Form .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    color: white;
}

.Form__head-text {
    grid-column: 1/3;
    margin-bottom: 40px;
}

.Form .container>span {
    grid-column: 1/3;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Old-new-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
}

@keyframes scaling {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

.Old-new-price span{
    animation: scaling infinite 2s ease-in-out;
    text-shadow: 0 2px rgba(255, 166, 0, 0.555);
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.Old-new-price del{
    font-size: 30px;
    opacity: 50%;
}

.Old-new-price__product-photo{
    width: 200px;
    height: 200px;
}

.Old-new-price__prices {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
}

.Form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Form__form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.Form__form form input{
    max-width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.Form__name-input{
    position: relative;
}

.Form__form form span{
    position: relative;
    max-width: 300px;
}

.Form__prompt{
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: -20px;
    visibility: hidden;
}

/* Адаптация */
@media screen and (max-width: 991px) {
    /* стили для больших планшетов - начало */

    .Promo__product-photo{
        width: 300px;
        height: 300px;
    }

    .Promo__product-description{
        font-size: 20px;
    }

    .Promo2__characteristics ul{
        font-size: 20px;
    }

    .Promo2__description{
        font-size: 18px;
    }
}

@media screen and (max-width: 770px) {
    /* стили для средних планшетов - начало */

    .container{
        padding: 0 10px 0 10px;
    }

    .Promo__product-name{
        margin-bottom: 50px;
    }

    .Promo__product-description{
        grid-row: 2;
        grid-column: 1/3;
        justify-content: center;
        height: 200px;
        margin-bottom: 50px;
        font-size: 24px;
    }

    .Promo__product-photo{
        grid-column: 1/3;
        justify-self: center;
    }

    .Promo__order-button{
        grid-column: 1/3;
        justify-self: center;
        padding-left: 0;
    }

    .Compound__head-text{
        padding-top: 30px;
    }

    .Compound{
        height: auto;
        margin-bottom: 100px;
    }
    
    .Compound__product-photo{
        width: 200px;
        height: 200px;
    }

    .Compound__ingredient span{
        width: 90px;
        height: 90px;
    }

    .Compound__ingredient img{
        max-width: 80px;
    }
    
    .Compound__ingredient:nth-of-type(2) img{
        max-width: 56px;
    }
    
    .Compound__ingredient:nth-of-type(5) img{
        max-width: 40px;
    }
    
    .Compound__ingredient:nth-of-type(6) img{
        max-width: 48px;
    }

    .Compound .container{
        grid-template-columns: auto 250px auto;
    }

    .Compound__ingredient{
        transform: translateY(50%);
    }

    .Compound__ingredient:nth-of-type(2){
        grid-column: 2/3;
        grid-row: 2;
        transform: none;
        /* background-color: black; */
    }

    .Compound__ingredient:nth-of-type(6){
        grid-column: 2/3;
        grid-row: 4;
        transform: none;
    }

    .Compound__order-button{
        grid-row: 5;
    }

    .Carousel__user-photo{
        width: 70px;
        height: 70px;
    }

    .Carousel__user-rate img{
        width: 150px;
    }

    .Comments{
        height: 550px;
    }

    .icon-cards, .icon-cards__item{
        height: 320px;
    }
    
    .Promo2__description{
        grid-column: 1/3;
        grid-row: 3;
    }

    .Promo2__image{
        grid-column: 1/3;
        grid-row: 2;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .Promo2__head-text{
        margin-bottom: 50px;
    }

    .Promo2__image img{
        max-width: 80%;
    }

    .Promo2__characteristics{
        margin-top: 50px;
        align-items: center;
    }

    .Promo2__characteristics ul{
        flex-direction: column;
        width: auto;
        height: 150px;
        font-size: 30px;
    }

    .Promo2__order-button{
        margin-top: 50px;
    }

    .Form__old-new-price, .Form__form{
        grid-column: 1/3;
    }

    .Old-new-price{
        padding-left: 0;
        margin-bottom: 50px;
    }

    .Old-new-price__prices{
        margin-top: 30px;
    }

    .Form .container>span{
        flex-direction: column;
        line-height: 2;
        align-items: center;
    }
    
    .Form__form form{
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    /* стили для телефонов - начало */

    .Promo{
        padding-top: 30px;
    }

    .Promo__order-button{
        margin-top: 50px;
    }
    
    .Head-text{
        font-size: 24px !important;
    }

    .Promo__product-description{
        font-size: 14px;
    }

    .Promo__product-photo{
        width: 200px;
        height: 200px;
    }

    .Order-button button{
        width: 200px;
        font-size: 20px;
    }

    .Compound{
        border-width: 3px;
        margin-bottom: 60px;
    }

    .Compound .container{
        grid-template-columns: auto 150px auto;
        row-gap: 30px;
    }

    .Compound__ingredient p {
        font-size: 10px;
    }

    .Compound__product-photo{
        width: 130px;
        height: 130px;
    }

    .Compound__ingredient span{
        width: 63px;
        height: 63px;
    }

    .Compound__ingredient img{
        max-width: 56px;
    }
    
    .Compound__ingredient:nth-of-type(2) img{
        max-width: 39px;
    }
    
    .Compound__ingredient:nth-of-type(5) img{
        max-width: 28px;
    }
    
    .Compound__ingredient:nth-of-type(6) img{
        max-width: 33px;
    }

    .Comments{
        height: 460px;
    }

    .Comments__head-text{
        margin-bottom: 50px;
    }

    .Carousel__user-name{
        font-size: 16px;
    }

    .Carousel__user-comment{
        font-size: 14px;
        line-height: 1.3;
    }

    .Carousel__user-photo{
        width: 60px;
        height: 60px;
    }

    .Carousel__user-rate img{
        width: 80px;
    }

    .icon-cards, .icon-cards__item{
        height: 290px;
    }

    .Promo2{
        padding-bottom: 60px;
    }

    .Promo2__head-text{
        margin-bottom: 20px;
    }

    .Promo2__description{
        padding-left: 10px;
        font-size: 14px;
    }

    .Promo2__characteristics{
        margin-top: 30px;
    }

    .Promo2__characteristics ul{
        height: 120px;
        font-size: 18px;
    }

    .Promo2__order-button{
        margin-top: 30px;
    }

    .Form{
        padding-bottom: 50px;
    }

    .Form .container>span{
        text-align: center;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .Form__old-new-price{
        margin-bottom: 30px;
    }
    
    .Old-new-price__prices del{
        font-size: 24px;
    }

    .Old-new-price__prices span{
        font-size: 30px;
    }

    .Form__form form span, .Form__form form input{
        max-width: 200px;
        font-size: 24px;
    }

    .Form__prompt{
        font-size: 9px;
    }

    .Form__form form {
        min-height: 200px;
    }

}